 #tex{
    width: 594px;
    height: 25px;
    background-color: white;
    color: black;
    border-radius: 7px;
    border-color: black;
    border: 1px solid ;
}
#tex1{
    width: 594px;
    height: 25px;
    background-color: white;
    color: black;
    border-radius: 7px;
    border-color: black;
    border: 1px solid ;
}
#tex2{
    width: 594px;
    height: 100px;
    background-color: white;
    color: black;
    border-radius: 7px;
    border-color: black;
    border: 1px solid ;
}
#fo{
    margin-left: 15px;
}
#f1{
    margin-left: 20px;
}
#hp{
    margin-top: 40px;
    text-align: center;
}

.project-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 2em auto;
    padding: 2em;
    background:rgb(248, 245, 240) ;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(3, 3, 3, 0.1);
}

#ka{
    text-align: center;
}
#hh{
    margin-bottom: 100px;
}