#list{
  list-style-type: none;  
}
#abc{
  margin-right:auto;
  font-weight: 600;
  font-size: x-large;
}

nav>ul{
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: row-reverse;
  color: black;
}

nav>ul>li{
  
  padding-right: 40px;
  /* border-color: white; */
  border-radius: 20px;
  color: white;
  
  padding-bottom:20px ;
  margin-top: 55px;
}


#pic{
  height: 120px;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 2px;
}

#foot{
  background-color: rgb(30, 30, 30);
  color: white;
  position: fixed;
  bottom: 0;
  width: 99%;
  margin-left: 0;
}
